<div class="container mx-auto pt-6">
  <form>
    <p>Filter by keywords</p>
    <app-search-input [placeholder]="'Filter by keywords'"></app-search-input>
  </form>

  <p>Results: 9</p>
  <hr class="mb-6">

  <div class="grid grid-cols-3 grid-rows-3 gap-10">
    <app-article-preview-card *ngFor="let i of [].constructor(9); let idx = index"
                              [title]="'Title'"
                              [text]="'Text'"
                              [image]="'https://picsum.photos/1920/1080?random=' + idx"
                              [created]="Date.now()"
                              [routerLink]="'/article/' + idx"
    ></app-article-preview-card>
  </div>
</div>
