<div class="container mx-auto pt-6">
  <form>
    <p>Filter by keywords</p>
    <app-search-input [placeholder]="'Filter by keywords'" (onChange)="submitSearchForm()" [formGroup]="searchForm"></app-search-input>
  </form>

  <p>Results: 9</p>
  <hr class="mb-6">

  <div class="grid grid-cols-3 grid-rows-3 gap-10">
    <app-article-preview-card *ngFor="let item of articleList$ | async"
                              [title]="item.title | truncateText:100 | highlighter: (search$ | async)"
                              [text]="item.summary | truncateText:100 | highlighter: (search$ | async)"
                              [image]="item.image_url"
                              [created]="item.published_at"
                              [routerLink]="'/article/' + item.id"
    ></app-article-preview-card>
  </div>
</div>
