@tailwind base;
@tailwind components;
@tailwind utilities;

.highlighted-text {
  background-color: yellow;
  padding: 0 0.125rem;
}

.small-icon {
  width: 1.25rem !important;
  height: 1.25rem !important;
  font-size: 1.25rem;
}


